.footer {
  background-color: $colorFooter; 

  &__logo {
    font-family: 'Film P3', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: $accentYellow;
    text-transform: uppercase;
    transition: color 250ms linear;
    &:hover,
    &:focus {
      color: $brown;
    }

    @include forTabletUp {
      font-size: 64px;
      line-height: 1.078;
    }
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $accentYellow;
    transition: color 250ms linear;
    &:hover,
    &:focus {
      color: $brown;
    }
    @media screen and (max-width: 413px) {
      // font-size: 16px;
    }
  }

  &__container {   

    @include forTabletUp {
      display: flex;      
      gap: 137px;
    }

    @include forDesktop {
      gap: 199px;
    }
  }
  &__box {
    display: flex;
    align-items: center;
    gap: 85px;
    padding: 40px 60px;
    @media screen and (max-width: 413px) {
      gap: 1vw;
      padding-left: 20px;
    }
        @media screen and (min-width: 1024px) {
          gap: 143px;
          padding: 80px;
          padding-left: 154px;
        }
                @media screen and (min-width: 1280px) {
                  gap: 211px;
                  padding-left: 216px;
                }
  }

  &__list {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;    
  }

  &__address-list {
    display: flex;
    gap: 20px;
    
    @include forTabletUp {
      flex-direction: column-reverse;
      gap: 12px;    
    }
  }
  &__address-item {
    @include forTabletUp {
      width: 144px;
    }
  }  

  &__address-link {    
    text-decoration: none;    
    color: $accentYellow;
    transition: color 250ms linear, border 250ms linear;

    @include forTabletUp {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 12px;
      border: 0.5px solid $accentYellow;
      border-radius: 2px;
    }
    &:hover,
    &:focus {
      border: 0.5px solid $brown;
      color: $brown;
    }
  }

  &__address-text {
    display: none;
    font-family: 'Montserrat';
    line-height: 1.25;
    letter-spacing: 0.02em;

    @include forTabletUp {
      display: block;
    }
  }

  &__icon {
    fill: currentColor;
  }
}
